# ビルド成果物
/dist
/build
*.js
*.js.map

# 依存関係
/node_modules

# TypeScriptキャッシュ
*.tsbuildinfo

# ログファイル
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 環境変数ファイル
.env
.env.local
.env.*.local

# エディタ固有のファイル
.vscode/
.idea/

# OS生成ファイル
.DS_Store
Thumbs.db

# テストカバレッジレポート
/coverage

# npm
package-lock.json

# yarn
yarn.lock

# その他
*.tmp
*.temp
